
.wrapper {      
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
      
}

label {
    font-size: 18px;
}

.userCard {
    display: none;
}

.wrapper__form {    
    background-color: rgb(78, 196, 180);   
    max-width: 750px;   
}

.required {
    display: flex;
    flex-direction: column;        
    padding: 20px;   
    margin-bottom: 15px;              
}

#nameUser {
    margin: 10px;
    padding: 10px;
    border-radius: 7px;    
    border: none;    
}

#passwordUser {
    margin: 10px;
    padding: 10px;
    border-radius: 7px;    
    border: none;    
}

#birthUser {
    margin: 10px;
    padding: 10px;
    border-radius: 7px;    
    border: none;
}

#phoneUser {
    margin: 10px;
    padding: 10px;
    border-radius: 7px;    
    border: none;
}

#fileUser {
    margin: 10px;
    padding: 10px;
    border-radius: 7px;    
    border: none;
}

.button {    
    padding: 10px;
    border-radius: 10px;
    border-width: 0.1px;
    display: block;
    width: 320px;    
    margin: 25px auto 0;
    background: #fff;       
    font-size: 20px;    
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
